*{
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: white;
    background-image: url(../fotos/background1.png);
    background-size: cover;
    
}

/* estilos barra navegacion */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;
    background-color: #82b364;
    width: 100%;
    position: fixed;
    top: 0;
    height: 5%;
}

#nameLogo{
	display: flex;
	height: 25px;
}

.contenedorNav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items:center;
	gap: 60%;
    padding: 0.2em;
    margin: 0 2em;
    width: 100%;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 3em;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: white;
}

/* estilos para la sección de detalles */

.container-detalle{
    margin-top: 7.5%; /* Ajustar para dejar espacio para la barra de navegación fija */
    padding: 2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 23em;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 0.2em 0.2em rgba(0, 0, 0, 0.2);
}

h2{
    font-size: 2em;
    color: #414950;
    margin-bottom: 1em;
    text-align: center;
}

#detalle-publicacion{
	display:flex;
	justify-content: center;
	gap: 3em;
	margin: 0 auto;
	height: 17em;
	padding: 0 1em;
}

.detalle-publicacion{
    background-color: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    color: #414950;
}

.fotoPublicacion{
	display:flex;
	background-color: green;
	width: 20em;
	border-radius: 1em;
}

.nombreCreador{
	color: #414950;
}

/* estilos para el pie de página */

footer{
    background-color: #82b364;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.derechos{
    margin: 0 2em;
}


.fotoEvento img {
	height:100em;
	background-image: url(../fotos/fotoperfil.png);
	background-size: cover;
    width: 20em;
    height: 20em;
    object-fit: cover; /* Esto asegurará que la imagen se ajuste dentro del contenedor */
    border-radius: 50%; /* Esto asegurará que la imagen también sea redonda */
}

#editarEvento{
	color: grey;
}