@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
	font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    padding: 0.5em;
	background-color:#82b364;
	width: 100%;
	position: fixed;
	top: 0;
	height: 5%;
}

#nameLogo{
	display: flex;
	height: 25px;
}

.contenedorNav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items:center;
	gap: 60%;
    padding: 0.2em;
    margin: 0 2em;
    width: 100%;
}

ul {
	display: flex;
	flex-direction: row;
	gap: 3em;
	list-style: none;
}
	
a{
	text-decoration:none;
	color: white; 
}

/*contenido*/

h1{
	display: flex;
	margin-top: 6%;
	margin-left: 20%;
	font-size: 2.5em;
	color:  #414950;
}

.contenedorPublicaciones{
	display: flex;
	flex-direction: column;
	margin: 2% auto;
	background-color:  #eff5e7;
	padding: 2% 4%;
	width: 70%;
	height: 20em;
	border-radius: 3em;
	overflow: scroll;
}

.contenedorIndividual{
	display:flex;
	flex-direction:column;
	margin: 0.5em 0;
}

.tituloPublicacion{
	color:#414950;
	font-size: 20px;
	margin-bottom: 0.5em;
	font-style: italic;
}


/*footer*/

footer{
	margin-top: 2em;
}

.derechos{
	display: flex;
	justify-content: center;
	padding: 2.5em;
	color:  #414950;
}



