body{
    /*background-color: #ffffec;*/
    background: linear-gradient(#2e9f87, #d6ec8b);
}
h3{
    color: white;
}
nav{/*Contenedor nav*/
    width: 100%;
    height: 2em;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name-logo{
    padding-left: 2em;
}
ul{/*Etiqueta <ul></ul>*/
    display: flex;
    justify-content: end;
    gap: 50%;
    padding-right: 20%;
    list-style: none;
}
li{/*Etiqueta <li></li>*/
    padding-top: 0.5%;    
}
a{/*Etiqueta <a></a>*/
    text-decoration: none;
    color: white;
}
.container{/*Div container donde se obtiene informacion del mapa e inputs*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{ /*Contenedor con la clase imagen, donde posee un background-image*/
    width: 50%;
    height: 47em;
    background-image: url(/src/main/resources/static/fotos/mapa1.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    padding-left: 30%;

}
input{ /*Input del boton de busqueda*/
    padding: 10px;
    padding-right: 20px;
    border-radius: 5px;
    border: 0;

    width: 20em;
    height: 2em;
    outline: none;
    font-size: 1rem;

}