*{
    margin: 0;
    padding: 0;
	font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background-color: white;
}

h3{
	display: flex;
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
}
nav{/*Contenedor nav*/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color:#82b364;
	align-items: center;
	padding: 0.7em;
}

.name-logo{
    padding-left: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
ul{/*Etiqueta <ul></ul>*/
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 50%;
    padding-right: 20%;
    list-style: none;
}

a{/*Etiqueta <a></a>*/
    text-decoration: none;
    color: white;
}

.container{/*Div container donde se obtiene informacion del mapa e inputs*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{ /*Contenedor con la clase imagen, donde posee un background-image*/
    width: 50%;
    height: 47em;
    background-image: url(../fotos/mapa1.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    padding-left: 30%;
   	margin-top:2em;
    

}
input{ /*Input del boton de busqueda*/
    padding: 10px;
    padding-right: 20px;
    border-radius: 5px;
    border: 0;

    width: 20em;
    height: 2em;
    outline: none;
    font-size: 1rem;
}