*{
    margin: 0;
    padding: 0;
	font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background-color: white;
}

/*estilos barra de navegacion*/
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    padding: 10px;
	background-color:#82b364;
}

.contenedorNav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 70em;
    padding: 5px;
    margin: 0px 20px;
}

#detalle{
	display: flex;
    color: #414950;
    font-style: italic;
    font-weight: bolder;
    margin-left: 10px;
}

ul {
	display: flex;
	flex-direction: row;
	gap: 40px;
	list-style: none;
}

/*imagen con titulo de Proyecto*/
.divProyecto {
	display: flex;
	flex-direction: row;
	background-image: url(../fotos/tituloproyecto.png);
	margin: 50px auto;
	justify-content: center;
	align-items: center;
	color: #ffffec;
	height: 350px;
	width: 100%;
}

h1{ /*titulo grande, FELLOW*/
    font-size: 75px;
    font-weight: bold;
}

h2{/* slogan, ayuda, informa y conecta*/
    font-size: 40px;
}

/* descripción general de la aplicación, informaciones*/
.informacion {
	display: flex;
	flex-direction: column;
	align-content: center;
    text-align: center;
	width: 80%;
	margin: 0px auto;
	color:#414950;
    gap: 25px;
    margin-bottom: 25px;
}


/* contenedor de ambos formularios*/
.formulario {
	display: flex;
	padding: 20px;
	gap: 50px;
	justify-content: center;
	margin-top: 40px;
}

/*formulario de registro*/
#registro {
	display: flex;
	flex-direction: column;
	background-color:#82b364;
	padding: 20px;
	border-radius: 10px;
    color: white;
    gap: 15px;
}

/*formulario de login*/
#login {
	display: flex;
	flex-direction: column;
	background-color:#82b364;
	padding: 20px;
	border-radius: 10px;
    color: white;
    gap: 15px;
}

/*estilos forms en general */
form {
	display: flex;
	flex-direction: column;
}

input {
	border-radius: 5px;
    margin: 5px 0;
}

select{
	margin-top: 15px;
	padding: 3px;
}

/*estilos botones*/
button{
	margin-top: 20px;
	padding: 5px;
	border-radius: 10px;
	background-color: #51624f;
	color: white;
	font-weight: 600;
}

a {
	text-decoration:none;
	color: white; 
}

footer{
	display: flex;
	align-items: center;
	flex-direction: column;
}