*{
    margin: 0;
    padding: 0;
	font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
	background-color: white;
}

/*estilos barra de navegacion*/
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    padding: 0.5em;
	background-color:#82b364;
}

.contenedorNav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 70em;
    padding: 0.2em;
    margin: 0px 20px;
}

#detalle{
	display: flex;
    color: #414950;
    font-style: italic;
    font-weight: bolder;
    margin-left: 10px;
}

ul {
	display: flex;
	flex-direction: row;
	gap: 40px;
	list-style: none;
}

/*imagen con titulo de Proyecto*/
.divProyecto {
	display: flex;
	flex-direction: row;
	background-image: url(../fotos/banner1.png);
	background-size: cover;
	margin: 50px auto;
	justify-content: center;
	align-items: center;
	color: #ffffec;
	height: 27em;
	width: 100%;
	gap: 1em;
}

h1{ /*titulo grande, FELLOW*/
    font-size: 75px;
    font-weight: bold;
}

#logo{
	display: flex;
}

h2{/* slogan, ayuda, informa y conecta*/
    font-size: 40px;
}

p{
	font-style: italic;
}

/* descripción general de la aplicación, informaciones*/
.informacion {
	display: flex;
	flex-direction: column;
	align-content: center;
    text-align: center;
	width: 80%;
	margin: 0px auto;
	color:#414950;
    gap: 3em;
    margin-bottom: 3.5em;
}


/* contenedor de ambos formularios*/
.formulario {
	display: flex;
	padding: 20px;
	gap: 3em;
	justify-content: center;
	margin-top: 40px;
}

/*formulario de registro*/
#registro {
	display: flex;
	flex-direction: column;
	border: solid 1px white;
	padding: 1.5em;
	border-radius: 10px;
    color:  #414950;
    gap: 15px;
    width: 30%;
    box-shadow: 0px 0px 0.2em 0.2em rgba(0, 0, 0, 0.2);
}

/*formulario de login*/
#login {
	display: flex;
	flex-direction: column;
	border: solid 1px white;
	padding: 1.5em;
	border-radius: 10px;
    color:  #414950;
    gap: 15px;
    width: 25%;
    box-shadow: 0px 0px 0.2em 0.2em rgba(0, 0, 0, 0.2);
}

/*estilos forms en general */
form {
	display: flex;
	flex-direction: column;
}

input {
	border-radius: 5px;
    margin: 5px 0;
    height: 2em;
    background-color: #eff5e7;
}

select{
	margin-top: 15px;
	padding: 0.3em;
}

/*estilos botones*/
button{
	margin-top: 20px;
	padding: 0.5em;
	border-radius: 10px;
	background-color: #82b364;
	color: white;
	font-weight: 600;
	cursor: pointer;
}

a {
	text-decoration:none;
	color: white; 
}

footer{
	display: flex;
	align-items: center;
	flex-direction: column;
}